<p>Olá
  <%= @resource.email %>!</p>

<p>Você solicitou a alteração de senha. Para prosseguir com a alteração, clique no link abaixo.</p>

<p><%= link_to "Altere sua senha", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
